@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    font-family: 'Inter', sans-serif;
    @apply transition-all duration-300 ease-in-out;
    @apply selection:bg-[#282828];
    @apply text-fg;
    @apply text-body;
  }

  h1 {
    @apply text-title;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-subtitle;
  }

  :root {
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-size: 0.25rem;
    --swiper-pagination-bullet-width: 0.25rem;
    --swiper-pagination-bullet-height: 0.25rem;
    --swiper-pagination-bullet-inactive-color: var(--swiper-pagination-color);
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-vertical-gap: 0;
  }
}

@layer components {
  /* TODO: update link style 
  .link {
    @apply text-fg dark:text-fg-dark border-b border-[#292929] hover:border-[#bbbbbb];
    @apply inline-flex items-center gap-1.5;
  }
  */

  .text-clickable {
    @apply underline decoration-bg  hover:decoration-fg-active hover:text-fg-active;
  }
}

@layer utilities {
}
